footer {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-top: 40px;
    border-top: 5px solid #222;
}

.footer__company, .footer_helpcenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 65px 105px;
}

.footer__social, .footer__links {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 200px;
    object-fit: contain;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 10px;
}

.footer__links li {
    padding: 0 30px
}

ul li:last-child {
    padding-right: 0;
}

ul li:first-child {
    padding-left: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer__social i {
    font-size: 40px;
    font-style: normal;
    color: rgba(229, 10, 20, 1);
}

.footer__social i:hover {
    color: #fff;
}

.footer__copyright {
    color: #fff;
    font-weight: bold;
}