footer {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-top: 40px;
    border-top: 5px solid #222;
}

.footer__company, .footer_helpcenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 65px 105px;
}

.footer__social, .footer__links {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 200px;
    object-fit: contain;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 10px;
}

.footer__links li {
    padding: 0 30px
}

.footer__links li a:hover {
    color: rgba(229, 10, 20, 1);
}

ul li:last-child {
    padding-right: 0;
}

ul li:first-child {
    padding-left: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer__social i {
    font-size: 40px;
    font-style: normal;
    color: rgba(229, 10, 20, 1);
}

.footer__social i:hover {
    color: #fff;
}

.footer__copyright {
    color: #fff;
    font-weight: bold;
}



/* Media queries */

@media screen and (max-width: 1200px) {

    .footer_helpcenter, .footer__links {
        flex-direction: column;
    }

    .footer__links li {
        padding: 15px 0;
    }

    .footer__copyright {
        padding-top: 40px;
        color:rgba(229, 10, 20, 1);
        font-weight: normal;
        border-top: 1px solid #333;
    }
}

@media screen and (max-width: 768px) {

    .footer__company, .footer_helpcenter {
        flex-direction: column;
        border-bottom: 3px solid #222;
        align-items: center;
    }

    .footer__social {
        justify-content: space-around;
        padding-top: 40px;
    }

    
}










