* {
    box-sizing: border-box;
}

.banner {
    max-width: 100%;
    height: auto;
}

.banner img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.play_icon {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
}


.movie_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    color: whitesmoke;
    width: 80%;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 15px;
    display: flex;
    -webkit-box-shadow: -1px 0px 6px 1px rgba(255,255,255,0.55); 
box-shadow: -1px 0px 6px 1px rgba(255,255,255,0.55);

}

.movie_image {
    flex: 1 1 auto;
    margin-right: 50px;
}

.movie_image img {
    width: 280px;
    height: 360px;
    border-radius: 8px;
    object-fit: cover;
}

.movie_overview {
    flex: 2 1 auto;
}

.movie_overview h1, h3 {
    font-weight: normal;
}

.movie_overview h1 {
    font-size: 48px;
}

.movie_overview h3 {
    color: #777;
    font-size: 30px;
}

.movie_overview p {
    font-size: 16px;
    line-height: 20px;
    width: 80%;
    padding-top: 20px;
}

.more_details {
    display: flex;
}


.btn-back {
    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: rgba(229, 10, 20, 1);
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 40px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .movie_details, .more_details {
        flex-direction: column;
    }

    .movie_image {
        display: none;
    }

    .movie_details {
        width: 95%;
        border-radius: 0;
    }

}