.banner {
    max-width: 100%;
    height: auto;
}

.banner img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.play_icon {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
}


.movie_details {
    display: flex;
    background-color: whitesmoke;
    width: 80%;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 15px;
    display: flex;
    -webkit-box-shadow: -1px 0px 6px 1px rgba(255,255,255,0.55); 
box-shadow: -1px 0px 6px 1px rgba(255,255,255,0.55);

}

.movie_image {
    height: 300px;
    width: 200px;
    margin-right: 50px;
    border-radius: 8px;
}

.movie_overview h1, h3 {
    font-weight: normal;
}

.movie_overview h1 {
    font-size: 48px;
}

.movie_overview h3 {
    color: #333;
    font-size: 30px;
}

.movie_overview p {
    font-size: 16px;
    line-height: 20px;
    width: 80%;
    padding-top: 20px;
}

.more_details {
    display: flex;
}


.btn-back {
    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: #ffc107;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 40px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .movie_details, .more_details {
        flex-direction: column;
    }

    .movie_image {
        display: none;
    }

    .movie_details {
        width: 90%;
        margin-top: 0;
    }

}